{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="casa.png">
      <img src="/images/casa.png">
    </a>
    <h1>Auto-House</h1>
    <p>Tu vigilas donde estes</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Que somos</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> vision</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Catalogo <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Aqui</a>.
  </div>
  <hr>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/hY4TA3XT3Kg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="row">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
    
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
